<div class="card container">
  <h2 class="card-header">Reservation App</h2>
  <div class="card-body">
    <h5 class="card-title">In this App you can reserve transport!</h5>
    <p class="card-text">Creating this application I learned a lot about Ruby On Rails</p>
    <p class="card-text">And I certainly enjoyed it.</p>
   </div>
</div>