<div class="container"><h1 class="mx-auto">Rezervēt</h1>
<div class="mx-auto ">
<%= render "form", reservation: @reservation, users: @users %>
</div>
<br>

<div>

  <%= link_to "Atpakaļ pie rezervācijam", reservations_path %>
</div>
</div>